/* ---------- COLORS ---------- */
$main_color_1: #f5aaaa;
$main_color_2: #ffd1d1;
$dark_color_1: #3d3d3d;
$light_color_1: #fffefe;

/* ---------- FONT SIZES ---------- */
$logo_text_size: 3rem;
$h1_size: 5rem;
$h2_big_size: 4rem;
$h2_size: 3rem;
$h3_size: 2rem;
$text_big_size: 1.5rem;
$text_normal_size: 1.2rem;