.front-home{
    min-height: 70vh;
    margin-top: 3rem;
    justify-self: center;
    /*
    background-image: url("../../../../public/images/main-img.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    */

    &-container{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
        align-items: center;

        &-text{
            div + div{
                padding-top: 1rem;
            }

            h1{
                margin: 0;
                font-size: $h1_size;
                padding-bottom: 2rem;
                font-family: DancingScript;
            }

            h2{
                margin: 0 .5rem 0 0;
                font-size: $h2_size;
                font-weight: normal;
                color: $main_color_1;
                font-family: DancingScript;
            }


            & > div{
                display: flex;
                align-items: center;
            }

            img {
                //display: none;
                max-width: 5.5rem;
            }

        }

        &-img{
            display: flex;
            
            img{
                max-width: 45rem;
            }
        }
    }
}
