.front-home {
    display: grid;
    margin-bottom: 1rem;

    @include desktop{
        display: grid;
        width: 100%;
        justify-content: center;
        min-height: 70vh;
        margin-bottom: 0;
    }

    &-container{
        display: grid;
        align-items: center;
        padding: 2rem;

        @include desktop{
            grid-template-columns: repeat(2, auto);
            gap: 2rem;
            align-items: center;
            padding: 3rem 2rem 3rem 4rem;
        }

        @include desktop-xxlarge{
            padding: 3rem 5rem;
        }

        &-text{
            display: flex;
            flex-direction: column;

            div + div{
                padding-top: 1rem;
            }

            h1{
                margin: 0;
                font-size: $h1_size;
                font-family: DancingScript;
                padding-bottom: 2rem;
                text-align: center;

                @include desktop{
                    font-size: $h1_size_desktop - .5rem;
                    text-align: left;
                }

                @include desktop-xxlarge{
                    font-size: $h1_size_desktop;
                }
            }

            h2{
                margin: 0 .5rem 0 0;
                font-size: $h2_size;
                font-weight: normal;
                color: $main_color_1;
                font-family: DancingScript;
                text-align: center;

                @include desktop{
                    font-size: $h2_size_desktop - .5rem;
                    text-align: left;
                }

                @include desktop-xxlarge{
                    font-size: $h2_size_desktop;
                }
            }


            & > div{
                display: flex;
                align-items: center;
                justify-content: center;

                @include desktop{
                    justify-content: flex-start;
                }
            }

            img {
                display: none;

                @include desktop{
                    display: flex;
                    max-width: 5.5rem;
                }
            }

        }

        &-img{
            display: none;

            @include desktop{
                display: grid;
                align-self: center;
            }
            
            img{
                @include desktop{
                    display: flex;
                    max-width: 32rem;
                }

                @include desktop-xlarge{
                    max-width: 38rem;
                }

                @include desktop-xxlarge{
                    max-width: 45rem;
                }
            }
        }
    }
}
