.list-sheets-section {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    justify-content: flex-start;

    &-title{
        display: grid;
        text-align: center;

        h3{
            margin: 0;
            font-size: $h3_size;
        }
    }

    &-sheets{
        display: grid;
        position: relative;
        margin-top: 3rem;
        overflow-x: hidden;
        padding: .75rem;
    
        &-slide{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: .5rem;
            bottom: 23.5%;
            background-color: rgba(66,66,66, 0.25);
            border-radius: 3px;
            cursor: pointer;
    
            &:hover{
                background-color: rgba(66,66,66, 0.5);
            }
    
            i{
                color: $light_color_1;
                font-size: 2rem;
            }
        }
    
        .slide-left-on{
            right: 96.5%;
            left: 0;
        }
    
        .slide-right-on{
            right: 0;
            left: 96.5%;
        }
    
        .slide-left-off{
            display: none;
        }
    
        .slide-right-off{
            display: none;
        }
    }
}