.sheets-last-uploads, 
.sheets-for-beginners,
.list-sheets-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-sheets-section {
    padding: 2rem 0;
    &-title{
        text-align: center;

        h3{
            margin: 0;
            font-size: $h3_size;
        }
    }

    &-sheets {
        display: grid;
        position: relative;
        margin-top: 3rem;
        overflow-x: hidden;
        padding: .5rem;

        .sheets {
            display: flex;
            max-width: 100rem;
            position: relative;
            left: 0;
            transition: all 0.75s;

            a + a {
                margin-left: 3rem;
            }
            
            & > a { // & > div
                height: fit-content;
                transition: all 0.25s;
                text-decoration: none;
                color: $dark_color_1;
                //cursor: pointer;

                &:hover {
                    transform: scale(1.05);

                    .sheet-img{
                        box-shadow: rgba(255, 209, 209, 0.75) 0px 25px 20px -20px;
                    }
                }
        
                .sheet-img {
                    display: flex;
                    text-align: center;
                    outline: solid 2px $main_color_2;
                    border-radius: 3px;

                    img{
                        max-height: 14rem;
                    }
                }
        
                .sheet-name{
                    text-align: center;
        
                    p{
                        margin: 1rem 0 0 0;
                        font-size: $text_normal_size;
                    }
                }
            }
        }

        .sheets-all {
            display: grid;
            overflow: hidden;
            grid-template-columns: repeat(7, 1fr);
            padding: 1rem 0;
            row-gap: 2.5rem;
            column-gap: 1rem;

            & > a { // & > div
                display: flex;
                flex-direction: column;
                align-items: center;
                height: fit-content;
                transition: all 0.25s;
                text-decoration: none;
                color: $dark_color_1;
                //cursor: pointer;

                &:hover {
                    transform: scale(1.05);

                    .sheet-img{
                        box-shadow: rgba(255, 209, 209, 0.75) 0px 25px 20px -20px;
                    }
                }
        
                .sheet-img {
                    display: flex;
                    text-align: center;
                    outline: solid 2px $main_color_2;
                    border-radius: 3px;

                    img{
                        max-height: 14rem;
                    }
                }
        
                .sheet-name{
                    text-align: center;
        
                    p{
                        margin: 1rem 0 0 0;
                        font-size: $text_normal_size;
                    }
                }
            }
        }

        &-slide{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: .5rem;
            bottom: 23.5%;
            background-color: rgba(66,66,66, 0.25);
            border-radius: 3px;
            cursor: pointer;

            &:hover{
                background-color: rgba(66,66,66, 0.5);
            }

            i{
                color: $light_color_1;
                font-size: 2rem;
            }
        }

        .slide-left-on{
            right: 96.5%;
            left: 0;
        }

        .slide-right-on{
            right: 0;
            left: 96.5%;
        }

        .slide-left-off{
            display: none;
        }

        .slide-right-off{
            display: none;
        }
    }
}