.list-anime-sheets-section{
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    background-image: url("../../../../public/images/sakura-background.png");
    background-size: 50%;
    background-repeat: space;
    background-position: center;

    &-anime-sheets-all{
        display: grid;
    }
}