.main-container{
    display: grid;
    width: 100%;
}

.main-container-sections{
    display: grid;
    justify-self: center;
    justify-content: center;
    width: 90%;
    max-width: 100rem;
    background-image: url("../../../../public/images/sakura-background.png");
    background-size: 50%;
    background-repeat: space;
    background-position: center;
}