.sheets-page{
    display: grid;
    justify-content: center;
}

.list-sheets-section{
    display: flex;
    flex-direction: column;

    .sheets-all {
        display: grid;
        overflow: hidden;
        grid-template-columns: repeat(7, 1fr);
        padding: 3rem 1rem;
        row-gap: 2.5rem;
        column-gap: 4rem;
        transition: all 0.75s;
    }
}