.visual-novels-page{
    display: grid;
    width: 90%;
    justify-self: center;
}

.list-vn-section{
    display: grid;

    .vn-all {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        padding: 3rem 1rem;
        row-gap: 2rem;
        column-gap: 3rem;
        transition: all 0.75s;
    }
}