/* ---------- FONTS ---------- */

@font-face { 
	font-family: DancingScript; 
	src: url("../../fonts/DancingScript-VariableFont_wght.ttf");
}

@font-face { 
	font-family: Courgette-Regular; 
	src: url("../../fonts/Courgette-Regular.ttf");
}

@font-face { 
	font-family: JAPANBRUSH;
	src: url("../../fonts/JAPANBRUSH.ttf");
}

/* ---------- MAIN HTML ---------- */

body {
  color: $dark_color_1;
  margin: 0;
  font-family: Courgette-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, 'Courier New',
    monospace;
}

:root{
    background-color: #fffefe;

    h1{
      font-size: $h1_size;
    }

    h2{
      font-size: $h2_size;
    }

    h3{
      font-size: $h3_size;
    }

    p{
      font-size: $text_normal_size;
    }
}




